
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #110;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.destacado {
    color: white;
    margin-left: 20px;
}

body {
    background-color: #ffdd90;
    background-image: url("fondo.jpg");
    text-align: left;
  }